@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Neucha", sans-serif;
  font-size: larger;
}

main {
  padding-top: 60px;
  padding-bottom: 120px;
  flex: 1;
  background-color: rgba(223, 228, 234,1.0);
  background-image: url(/assets/weave.png);

}


footer {
  height:120px;
  margin-top:-60px;
  padding-top: 10px;
  margin-bottom: 0;
  background-color: rgba(164, 176, 190,1.0);
}

@media (max-width: 979px) {
  main {
    padding-top: 0px;
  }
}

.card-img-top {
  width: 100%;
  height: 10vw;
  object-fit: cover;
}

.add-button.btn{
  background-color: rgba(236, 204, 104,1.0);
  font-size: 1em;
}


.kitten.card{
  background-color: rgba(61, 193, 211,1.0);
}

.puppy.card{
  background-color: rgba(230, 103, 103,1.0);
}

h1.kitten{
  font-size: 3em;
}

h1.puppy{
  font-size: 3em;
}

.kitten.btn{
  background-color: rgba(99+50, 205+50, 218+50, 1.0);
}

.puppy.btn{
  background-color: rgba(234+50, 134+50, 133+50, 1.0);
}

.comment .btn{
  background-color: rgba(196, 69, 105,1.0);
}

.add-comment{
  background-color: rgba(245, 205, 121,1.0);
  padding: 30px;
}

.article-image{
  max-height: 100%;
  overflow: hidden;
}
.article-image img{
  width: auto;
  overflow: hidden;
}
