<footer class="footer">
  <div class="container-fluid">
    <span class="text-muted">Inspiring words for today (from affirmations.dev): <%= get_inspiring_message %></span>
    </br>
    <p>This app was made for Rails practice by Frances Calceta!</p>
  </div>
</footer>
